<div class="bg">
  <div class="jumbotron centered">
      <h1>Todo List</h1>      
      <p>Simple todo app.</p>
    <br/>
      <div class="col-lg">
        <%= link_to 'New Item', new_list_path, class: "btn btn-primary" %>
        <%= link_to 'Todo List', lists_path, class: "btn btn-info" %> 
      </div>
    </div> 
</div>