

<h1>Lists</h1>

<table  class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Done</th>
      <th></th>
    </tr>
  </thead>




  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.item, list %></td>
        <% if list.done == "1" %>
          <td>Completed</td>
        <% else %>
         <td>in Progress</td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path, class: "btn btn-primary" %>
